@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

:root {
    --cor-primaria: #3498db;
    --cor-secundaria: #f1c40f;
    --cor-fundo: #f9f9f9;
    --cor-texto: #333;
}

.light {
  --cor-primaria: #3498db;
  --cor-secundaria: #f1c40f;
  --cor-fundo: #f9f9f9;
  --cor-texto: #333;
}

.dark {
  --cor-primaria: #2ecc71;
  --cor-secundaria: #9b59b6;
  --cor-fundo: #333;
  --cor-texto: #fff;
}

body {
  background-color: var(--cor-fundo);
  color: var(--cor-texto);
  transition: background-color 0.5s, color 0.5s;
}

header {
  background-color: var(--cor-primaria);
  color: var(--cor-texto);
}

footer {
  background-color: var(--cor-secundaria);
  color: var(--cor-texto);
}

#tema-button {
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 1000;
}
  
#tema-button i {
    font-size: 18px;
    margin-right: 10px;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem 9%;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
    font-family: 'Red Hat Display', sans-serif; 

}

.logo{
    font-size: 1.5rem;
    color: #fff;
    font-weight: 700;
}

nav a{
    font-size: 1rem;
    color: #fff;
    font-weight: 500;
    margin-left: 2.5rem;
    transition: .5s;
}

nav a:hover {
    color: #f8c844;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}
  
.logo span {
    background-color: #f8c844;
    color: #000;
    padding: 0 5px;
}

#menu-perfil {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #fff;
    border: 1px solid #000000;
    padding: 10px;
    width: 20%;
}
  
.menu-perfil ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu-perfil li {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.menu-perfil li:last-child {
  border-bottom: none;
}

.menu-perfil a {
  text-decoration: none;
  color: #333;
}

.menu-perfil a:hover {
  color: #666;
}

.perfil-button{
    padding: 30px 50px;
}

#perfil-button i {
    pointer-events: none;
}
